.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 20rem;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 0.5rem;
}

.cost-container {
  width: 2rem;
  height: 2rem;
  background-color: red;
  rotate: 45deg;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  & > p {
    rotate: -45deg;
    font-weight: 800;
  }
}

.value-container {
  width: 2rem;
  height: 2rem;
  background-color: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  & > p {
    font-weight: 800;
  }
}

.rarity-container {
  padding: 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 8px;

  & > p {
    font-weight: 900;
  }
}

.element-image {
  width: 12rem;
  border-radius: 1000px;
  border: 6px solid white;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.2rem;
}

.card-trait {
  background-color: #aa9f00;
  padding: 0.2rem 1rem;
  border-radius: 1000px;
  font-weight: 300;
  font-size: 0.7rem;
}

.card-strong-container,
.card-weak-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: .3rem;

  & > p {
    font-weight: 800;
  }
}

.card-strong-container {
  &:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid green;
  }
}

.card-weak-container {
  &:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid red;
  }
}

.special-card {
  height: 6rem;
  background-color: white;
  border-radius: 5px;
  padding: .5rem;

  & > p {
    width: 100%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.special-card:has(.special-name) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.special-name {
  font-size: .9rem;
  font-weight: 900;
}

.special-type {
  font-size: .6rem;
}

.special-detials-container {
  display: grid;
  grid-template-columns: 2.5rem 5rem;
  grid-template-rows: 2.5rem 2.5rem;
}

.special-cost-container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px 0 0 0;
}

.special-duration-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 0 5px;
}

.special-value-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 5px 5px 0;

  & > p {
    font-size: 2.5rem;
  }
}